In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv(r"C:\Users\amit_\Credit-Risk-Models\data\raw\cs-training.csv", index_col= 0)
df

,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
1,1,0.766127,45,2,0.802982,9120.0,13,0,6,0,2.0
2,0,0.957151,40,0,0.121876,2600.0,4,0,0,0,1.0
3,0,0.658180,38,1,0.085113,3042.0,2,1,0,0,0.0
4,0,0.233810,30,0,0.036050,3300.0,5,0,0,0,0.0
5,0,0.907239,49,1,0.024926,63588.0,7,0,1,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
149996,0,0.040674,74,0,0.225131,2100.0,4,0,1,0,0.0
149997,0,0.299745,44,0,0.716562,5584.0,4,0,1,0,2.0
149998,0,0.246044,58,0,3870.000000,NaN,18,0,1,0,0.0
149999,0,0.000000,30,0,0.000000,5716.0,4,0,0,0,0.0
150000,0,0.850283,64,0,0.249908,8158.0,8,0,2,0,0.0

In [4]:
df.describe()

,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
count,150000.000000,150000.000000,150000.000000,150000.000000,150000.000000,1.202690e+05,150000.000000,150000.000000,150000.000000,150000.000000,146076.000000
mean,0.066840,6.048438,52.295207,0.421033,353.005076,6.670221e+03,8.452760,0.265973,1.018240,0.240387,0.757222
std,0.249746,249.755371,14.771866,4.192781,2037.818523,1.438467e+04,5.145951,4.169304,1.129771,4.155179,1.115086
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.029867,41.000000,0.000000,0.175074,3.400000e+03,5.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.154181,52.000000,0.000000,0.366508,5.400000e+03,8.000000,0.000000,1.000000,0.000000,0.000000
75%,0.000000,0.559046,63.000000,0.000000,0.868254,8.249000e+03,11.000000,0.000000,2.000000,0.000000,1.000000
max,1.000000,50708.000000,109.000000,98.000000,329664.000000,3.008750e+06,58.000000,98.000000,54.000000,98.000000,20.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 150000 entries, 1 to 150000
Data columns (total 11 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   SeriousDlqin2yrs                      150000 non-null  int64
 1   RevolvingUtilizationOfUnsecuredLines  150000 non-null  float64
 2   age                                   150000 non-null  int64
 3   NumberOfTime30-59DaysPastDueNotWorse  150000 non-null  int64
 4   DebtRatio                             150000 non-null  float64
 5   MonthlyIncome                         120269 non-null  float64
 6   NumberOfOpenCreditLinesAndLoans       150000 non-null  int64
 7   NumberOfTimes90DaysLate               150000 non-null  int64
 8   NumberRealEstateLoansOrLines          150000 non-null  int64
 9   NumberOfTime60-89DaysPastDueNotWorse  150000 non-null  int64
 10  NumberOfDependents                    146076 non-null  float64
dtypes: float64(4), int64(7)
memory usage: 13.7 MB

In [6]:
df.isnull().sum()

SeriousDlqin2yrs                            0
RevolvingUtilizationOfUnsecuredLines        0
age                                         0
NumberOfTime30-59DaysPastDueNotWorse        0
DebtRatio                                   0
MonthlyIncome                           29731
NumberOfOpenCreditLinesAndLoans             0
NumberOfTimes90DaysLate                     0
NumberRealEstateLoansOrLines                0
NumberOfTime60-89DaysPastDueNotWorse        0
NumberOfDependents                       3924
dtype: int64

In [7]:
# 1. Flag missing income
df['MonthlyIncome_missing'] = df['MonthlyIncome'].isnull().astype(int)

# 2. Fill missing values
df['MonthlyIncome'] = df['MonthlyIncome'].fillna(df['MonthlyIncome'].median())

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 150000 entries, 1 to 150000
Data columns (total 12 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   SeriousDlqin2yrs                      150000 non-null  int64
 1   RevolvingUtilizationOfUnsecuredLines  150000 non-null  float64
 2   age                                   150000 non-null  int64
 3   NumberOfTime30-59DaysPastDueNotWorse  150000 non-null  int64
 4   DebtRatio                             150000 non-null  float64
 5   MonthlyIncome                         150000 non-null  float64
 6   NumberOfOpenCreditLinesAndLoans       150000 non-null  int64
 7   NumberOfTimes90DaysLate               150000 non-null  int64
 8   NumberRealEstateLoansOrLines          150000 non-null  int64
 9   NumberOfTime60-89DaysPastDueNotWorse  150000 non-null  int64
 10  NumberOfDependents                    146076 non-null  float64
 11  MonthlyIncome_missing                 150000 non-null  int32
dtypes: float64(4), int32(1), int64(7)
memory usage: 14.3 MB

In [9]:
df.isnull().sum()

SeriousDlqin2yrs                           0
RevolvingUtilizationOfUnsecuredLines       0
age                                        0
NumberOfTime30-59DaysPastDueNotWorse       0
DebtRatio                                  0
MonthlyIncome                              0
NumberOfOpenCreditLinesAndLoans            0
NumberOfTimes90DaysLate                    0
NumberRealEstateLoansOrLines               0
NumberOfTime60-89DaysPastDueNotWorse       0
NumberOfDependents                      3924
MonthlyIncome_missing                      0
dtype: int64

In [10]:
## 1. Missing Flag
df['Dependents_missing'] = df['NumberOfDependents'].isnull().astype(int)
# Fill using mode
df['NumberOfDependents'] = df['NumberOfDependents'].fillna(df['NumberOfDependents'].mode()[0])

In [11]:
df.isnull().sum()

SeriousDlqin2yrs                        0
RevolvingUtilizationOfUnsecuredLines    0
age                                     0
NumberOfTime30-59DaysPastDueNotWorse    0
DebtRatio                               0
MonthlyIncome                           0
NumberOfOpenCreditLinesAndLoans         0
NumberOfTimes90DaysLate                 0
NumberRealEstateLoansOrLines            0
NumberOfTime60-89DaysPastDueNotWorse    0
NumberOfDependents                      0
MonthlyIncome_missing                   0
Dependents_missing                      0
dtype: int64

In [12]:
df.head()

,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents,MonthlyIncome_missing,Dependents_missing
1,1,0.766127,45,2,0.802982,9120.0,13,0,6,0,2.0,0,0
2,0,0.957151,40,0,0.121876,2600.0,4,0,0,0,1.0,0,0
3,0,0.658180,38,1,0.085113,3042.0,2,1,0,0,0.0,0,0
4,0,0.233810,30,0,0.036050,3300.0,5,0,0,0,0.0,0,0
5,0,0.907239,49,1,0.024926,63588.0,7,0,1,0,0.0,0,0

In [13]:
## Check distribution of RevolvingUtilizationOfUnsecuredLines for any outliers value should be between 0 to 1
df['RevolvingUtilizationOfUnsecuredLines'].describe()

count    150000.000000
mean          6.048438
std         249.755371
min           0.000000
25%           0.029867
50%           0.154181
75%           0.559046
max       50708.000000
Name: RevolvingUtilizationOfUnsecuredLines, dtype: float64

In [14]:
df['RevolvingUtilizationOfUnsecuredLines'] = df['RevolvingUtilizationOfUnsecuredLines'].clip(0, 1)

In [15]:
df['High_Delinquency_Flag'] = (
    (df['NumberOfTime30-59DaysPastDueNotWorse'] > 10) |
    (df['NumberOfTime60-89DaysPastDueNotWorse'] > 10) |
    (df['NumberOfTimes90DaysLate'] > 10)
).astype(int)

In [16]:
df['NumberOfTime30-59DaysPastDueNotWorse'].describe()

count    150000.000000
mean          0.421033
std           4.192781
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max          98.000000
Name: NumberOfTime30-59DaysPastDueNotWorse, dtype: float64

In [17]:
# Max value 98 and other such data like 50, 45 doesn't seem realistic, it is not possible to be late 98 times in 2 years
df['NumberOfTime30-59DaysPastDueNotWorse'] = df['NumberOfTime30-59DaysPastDueNotWorse'].clip(0,10)

In [18]:
df['NumberOfTime30-59DaysPastDueNotWorse'].describe()

count    150000.000000
mean          0.263233
std           0.809436
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max          10.000000
Name: NumberOfTime30-59DaysPastDueNotWorse, dtype: float64

In [19]:
df['NumberOfTime60-89DaysPastDueNotWorse'].describe()

count    150000.000000
mean          0.240387
std           4.155179
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max          98.000000
Name: NumberOfTime60-89DaysPastDueNotWorse, dtype: float64

In [20]:
df['NumberOfTime60-89DaysPastDueNotWorse'] = df['NumberOfTime60-89DaysPastDueNotWorse'].clip(0,10)

In [21]:
df['NumberOfTimes90DaysLate'].describe()

count    150000.000000
mean          0.265973
std           4.169304
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max          98.000000
Name: NumberOfTimes90DaysLate, dtype: float64

In [22]:
df['NumberOfTimes90DaysLate'] = df['NumberOfTimes90DaysLate'].clip(0,10)

In [23]:
df['NumberOfTime60-89DaysPastDueNotWorse'].describe()
df['NumberOfTimes90DaysLate'].describe()

count    150000.000000
mean          0.107920
std           0.635481
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max          10.000000
Name: NumberOfTimes90DaysLate, dtype: float64

In [24]:
df['DebtRatio'].describe()

count    150000.000000
mean        353.005076
std        2037.818523
min           0.000000
25%           0.175074
50%           0.366508
75%           0.868254
max      329664.000000
Name: DebtRatio, dtype: float64

In [25]:
## The debt ratio of 329664 and mean value 353 is is unrealistic

In [30]:
## Add the outlier flag
cap = df['DebtRatio'].quantile(0.99)
cap
df['DebtRatio_high_flag'] = (df['DebtRatio'] >= cap).astype(int)

In [31]:
df['DebtRatio'] = df['DebtRatio'].clip(0, cap)

In [32]:
df['DebtRatio'].describe()

count    150000.000000
mean        316.548869
std         906.962222
min           0.000000
25%           0.175074
50%           0.366508
75%           0.868254
max        4979.040000
Name: DebtRatio, dtype: float64

In [33]:
df[['SeriousDlqin2yrs', 'age',
    'NumberOfOpenCreditLinesAndLoans',
    'NumberRealEstateLoansOrLines']].describe()

,SeriousDlqin2yrs,age,NumberOfOpenCreditLinesAndLoans,NumberRealEstateLoansOrLines
count,150000.000000,150000.000000,150000.000000,150000.000000
mean,0.066840,52.295207,8.452760,1.018240
std,0.249746,14.771866,5.145951,1.129771
min,0.000000,0.000000,0.000000,0.000000
25%,0.000000,41.000000,5.000000,0.000000
50%,0.000000,52.000000,8.000000,1.000000
75%,0.000000,63.000000,11.000000,2.000000
max,1.000000,109.000000,58.000000,54.000000

In [34]:
df['SeriousDlqin2yrs'].isna().sum(), df['SeriousDlqin2yrs'].value_counts(dropna=False)

(0,
 SeriousDlqin2yrs
 0    139974
 1     10026
 Name: count, dtype: int64)

In [35]:
df['age'].isna().sum(), df['age'].describe()

(0,
 count    150000.000000
 mean         52.295207
 std          14.771866
 min           0.000000
 25%          41.000000
 50%          52.000000
 75%          63.000000
 max         109.000000
 Name: age, dtype: float64)

In [36]:
df['age'].isna().sum(), df['age'].describe()

(0,
 count    150000.000000
 mean         52.295207
 std          14.771866
 min           0.000000
 25%          41.000000
 50%          52.000000
 75%          63.000000
 max         109.000000
 Name: age, dtype: float64)

In [37]:
df[df['age'] == 0]

,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents,MonthlyIncome_missing,Dependents_missing,High_Delinquency_Flag,DebtRatio_high_flag
65696,0,1.0,0,1,0.436927,6000.0,6,0,2,0,2.0,0,0,0,0

In [38]:
df[df['age'] < 18]

,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents,MonthlyIncome_missing,Dependents_missing,High_Delinquency_Flag,DebtRatio_high_flag
65696,0,1.0,0,1,0.436927,6000.0,6,0,2,0,2.0,0,0,0,0

In [39]:
df[df['age'] > 100]

,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents,MonthlyIncome_missing,Dependents_missing,High_Delinquency_Flag,DebtRatio_high_flag
7764,0,0.069167,101,0,50.000000,5400.0,2,0,0,0,0.0,1,0,0,0
19885,0,1.000000,103,0,0.000000,1600.0,3,0,0,0,0.0,0,0,0,0
25562,0,0.009866,102,0,0.002424,3300.0,3,0,0,0,0.0,0,0,0,0
40008,0,0.064748,107,0,939.000000,5400.0,9,0,1,0,0.0,1,0,0,0
56762,0,0.003469,105,0,2.000000,5400.0,4,0,0,0,0.0,1,1,0,0
57968,0,0.001397,103,0,1798.500000,1.0,11,0,2,0,0.0,0,0,0,0
90938,0,0.000000,102,0,0.000000,5400.0,12,0,0,0,0.0,1,0,0,0
93814,0,0.025780,101,0,0.013797,1666.0,5,0,0,0,0.0,0,0,0,0
96451,0,0.109642,102,0,0.273844,3417.0,7,0,0,0,1.0,0,0,0,0
105791,0,0.109307,109,0,2141.000000,5400.0,17,0,1,0,0.0,1,1,0,0
116130,1,0.002964,101,2,0.001387,2883.0,6,0,0,0,0.0,0,0,0,0
135026,0,0.004059,103,0,5.000000,5400.0,6,0,0,0,0.0,1,0,0,0
138292,0,0.246529,109,0,318.000000,5400.0,3,0,0,0,0.0,1,1,0,0

In [40]:
df['age'] = df['age'].clip(lower=18, upper=100)

In [44]:
df['age'].describe()

count    150000.000000
mean         52.295007
std          14.770418
min          18.000000
25%          41.000000
50%          52.000000
75%          63.000000
max         100.000000
Name: age, dtype: float64

In [45]:
df['NumberOfOpenCreditLinesAndLoans'].isna().sum()

0

In [46]:
df['NumberOfOpenCreditLinesAndLoans'].describe()

count    150000.000000
mean          8.452760
std           5.145951
min           0.000000
25%           5.000000
50%           8.000000
75%          11.000000
max          58.000000
Name: NumberOfOpenCreditLinesAndLoans, dtype: float64

In [47]:
df[df['NumberOfOpenCreditLinesAndLoans'] < 0]

Empty DataFrame
Columns: [SeriousDlqin2yrs, RevolvingUtilizationOfUnsecuredLines, age, NumberOfTime30-59DaysPastDueNotWorse, DebtRatio, MonthlyIncome, NumberOfOpenCreditLinesAndLoans, NumberOfTimes90DaysLate, NumberRealEstateLoansOrLines, NumberOfTime60-89DaysPastDueNotWorse, NumberOfDependents, MonthlyIncome_missing, Dependents_missing, High_Delinquency_Flag, DebtRatio_high_flag]
Index: []

In [48]:
df[df['NumberOfOpenCreditLinesAndLoans'] > 50]

,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents,MonthlyIncome_missing,Dependents_missing,High_Delinquency_Flag,DebtRatio_high_flag
16538,0,0.098127,61,0,0.323779,10500.0,54,0,2,0,0.0,0,0,0,0
22684,0,0.020452,51,0,0.032213,3600.0,57,0,0,0,0.0,0,0,0,0
30588,0,0.003032,53,0,5.967504,8000.0,58,0,54,0,0.0,0,0,0,0
37935,0,0.022144,62,0,0.399289,9000.0,51,0,2,0,0.0,0,0,0,0
38134,0,0.053381,77,0,0.282625,5271.0,52,0,1,0,1.0,0,0,0,0
51027,0,0.020226,70,0,0.074935,8900.0,56,0,0,0,2.0,0,0,0,0
54116,0,0.052349,60,0,0.637685,12800.0,54,0,2,0,2.0,0,0,0,0
66980,0,0.028601,62,0,0.711833,5416.0,54,0,5,0,0.0,0,0,0,0
87103,1,0.140060,56,2,1.099686,5416.0,52,0,2,0,0.0,0,0,0,0
105481,0,0.477322,49,0,6.006888,9000.0,54,0,7,0,3.0,0,0,0,0
107428,0,0.013016,48,0,0.025088,7373.0,56,0,0,0,0.0,0,0,0,0
109135,0,0.004029,72,0,0.008589,7916.0,51,0,0,0,1.0,0,0,0,0
112935,0,0.911758,67,0,0.865500,20750.0,53,0,5,0,3.0,0,0,0,0
137096,1,0.050855,42,0,0.100814,42156.0,57,0,1,0,2.0,0,0,0,0
143357,0,0.018052,71,0,0.030283,10500.0,52,0,0,0,0.0,0,0,0,0

In [49]:
df['NumberOfOpenCreditLinesAndLoans'] = df['NumberOfOpenCreditLinesAndLoans'].clip(lower=0, upper=30)

In [50]:
df['NumberOfOpenCreditLinesAndLoans'].describe()

count    150000.000000
mean          8.438793
std           5.070728
min           0.000000
25%           5.000000
50%           8.000000
75%          11.000000
max          30.000000
Name: NumberOfOpenCreditLinesAndLoans, dtype: float64

In [51]:
df['NumberRealEstateLoansOrLines'].isna().sum()

0

In [52]:
df['NumberRealEstateLoansOrLines'].describe()

count    150000.000000
mean          1.018240
std           1.129771
min           0.000000
25%           0.000000
50%           1.000000
75%           2.000000
max          54.000000
Name: NumberRealEstateLoansOrLines, dtype: float64

In [53]:
df[df['NumberRealEstateLoansOrLines'] < 0]

Empty DataFrame
Columns: [SeriousDlqin2yrs, RevolvingUtilizationOfUnsecuredLines, age, NumberOfTime30-59DaysPastDueNotWorse, DebtRatio, MonthlyIncome, NumberOfOpenCreditLinesAndLoans, NumberOfTimes90DaysLate, NumberRealEstateLoansOrLines, NumberOfTime60-89DaysPastDueNotWorse, NumberOfDependents, MonthlyIncome_missing, Dependents_missing, High_Delinquency_Flag, DebtRatio_high_flag]
Index: []

In [54]:
df[df['NumberRealEstateLoansOrLines'] > 10]

,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents,MonthlyIncome_missing,Dependents_missing,High_Delinquency_Flag,DebtRatio_high_flag
2496,1,0.451376,48,0,2.511961,12080.0,29,0,17,0,2.0,0,0,0,0
3257,0,0.062123,59,0,4979.040000,5400.0,18,0,15,0,0.0,1,1,0,1
4798,1,0.963012,39,2,3.173399,5916.0,19,0,12,0,2.0,0,0,0,0
4824,0,0.040457,65,0,0.986113,17570.0,20,0,11,0,0.0,0,0,0,0
6979,0,0.167865,41,0,0.422033,25433.0,14,0,11,0,0.0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139621,0,0.602831,67,0,4979.040000,5400.0,18,0,11,0,3.0,1,0,0,1
139705,0,0.269932,63,1,1.276536,10692.0,27,0,11,0,2.0,0,0,0,0
140668,0,0.150342,60,1,1.920328,4028.0,29,0,13,0,3.0,0,0,0,0
141115,0,0.715094,47,0,0.671636,24883.0,30,0,20,0,2.0,0,0,0,0
142313,0,0.026327,63,0,0.620345,16593.0,25,0,15,0,1.0,0,0,0,0

In [55]:
df['NumberRealEstateLoansOrLines'] = df['NumberRealEstateLoansOrLines'].clip(lower=0, upper=5)

In [56]:
df['NumberRealEstateLoansOrLines'].describe()

count    150000.000000
mean          1.002480
std           1.020301
min           0.000000
25%           0.000000
50%           1.000000
75%           2.000000
max           5.000000
Name: NumberRealEstateLoansOrLines, dtype: float64

In [57]:
df.to_csv('../data/credit_data_cleaned.csv', index=False)