In [2]:
import pandas as pd
import numpy as np

In [10]:
df = pd.read_csv(r"C:\Users\amit_\Credit-Risk-Models\data\raw\cs-training.csv", index_col= 0)
df

,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
1,1,0.766127,45,2,0.802982,9120.0,13,0,6,0,2.0
2,0,0.957151,40,0,0.121876,2600.0,4,0,0,0,1.0
3,0,0.658180,38,1,0.085113,3042.0,2,1,0,0,0.0
4,0,0.233810,30,0,0.036050,3300.0,5,0,0,0,0.0
5,0,0.907239,49,1,0.024926,63588.0,7,0,1,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
149996,0,0.040674,74,0,0.225131,2100.0,4,0,1,0,0.0
149997,0,0.299745,44,0,0.716562,5584.0,4,0,1,0,2.0
149998,0,0.246044,58,0,3870.000000,NaN,18,0,1,0,0.0
149999,0,0.000000,30,0,0.000000,5716.0,4,0,0,0,0.0
150000,0,0.850283,64,0,0.249908,8158.0,8,0,2,0,0.0

In [11]:
df.describe()

,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
count,150000.000000,150000.000000,150000.000000,150000.000000,150000.000000,1.202690e+05,150000.000000,150000.000000,150000.000000,150000.000000,146076.000000
mean,0.066840,6.048438,52.295207,0.421033,353.005076,6.670221e+03,8.452760,0.265973,1.018240,0.240387,0.757222
std,0.249746,249.755371,14.771866,4.192781,2037.818523,1.438467e+04,5.145951,4.169304,1.129771,4.155179,1.115086
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.029867,41.000000,0.000000,0.175074,3.400000e+03,5.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.154181,52.000000,0.000000,0.366508,5.400000e+03,8.000000,0.000000,1.000000,0.000000,0.000000
75%,0.000000,0.559046,63.000000,0.000000,0.868254,8.249000e+03,11.000000,0.000000,2.000000,0.000000,1.000000
max,1.000000,50708.000000,109.000000,98.000000,329664.000000,3.008750e+06,58.000000,98.000000,54.000000,98.000000,20.000000

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 150000 entries, 1 to 150000
Data columns (total 11 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   SeriousDlqin2yrs                      150000 non-null  int64
 1   RevolvingUtilizationOfUnsecuredLines  150000 non-null  float64
 2   age                                   150000 non-null  int64
 3   NumberOfTime30-59DaysPastDueNotWorse  150000 non-null  int64
 4   DebtRatio                             150000 non-null  float64
 5   MonthlyIncome                         120269 non-null  float64
 6   NumberOfOpenCreditLinesAndLoans       150000 non-null  int64
 7   NumberOfTimes90DaysLate               150000 non-null  int64
 8   NumberRealEstateLoansOrLines          150000 non-null  int64
 9   NumberOfTime60-89DaysPastDueNotWorse  150000 non-null  int64
 10  NumberOfDependents                    146076 non-null  float64
dtypes: float64(4), int64(7)
memory usage: 13.7 MB

In [13]:
df.isnull().sum()

SeriousDlqin2yrs                            0
RevolvingUtilizationOfUnsecuredLines        0
age                                         0
NumberOfTime30-59DaysPastDueNotWorse        0
DebtRatio                                   0
MonthlyIncome                           29731
NumberOfOpenCreditLinesAndLoans             0
NumberOfTimes90DaysLate                     0
NumberRealEstateLoansOrLines                0
NumberOfTime60-89DaysPastDueNotWorse        0
NumberOfDependents                       3924
dtype: int64

In [16]:
# 1. Flag missing income
df['MonthlyIncome_missing'] = df['MonthlyIncome'].isnull().astype(int)

# 2. Fill missing values
df['MonthlyIncome'] = df['MonthlyIncome'].fillna(df['MonthlyIncome'].median())

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 150000 entries, 1 to 150000
Data columns (total 12 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   SeriousDlqin2yrs                      150000 non-null  int64
 1   RevolvingUtilizationOfUnsecuredLines  150000 non-null  float64
 2   age                                   150000 non-null  int64
 3   NumberOfTime30-59DaysPastDueNotWorse  150000 non-null  int64
 4   DebtRatio                             150000 non-null  float64
 5   MonthlyIncome                         150000 non-null  float64
 6   NumberOfOpenCreditLinesAndLoans       150000 non-null  int64
 7   NumberOfTimes90DaysLate               150000 non-null  int64
 8   NumberRealEstateLoansOrLines          150000 non-null  int64
 9   NumberOfTime60-89DaysPastDueNotWorse  150000 non-null  int64
 10  NumberOfDependents                    146076 non-null  float64
 11  MonthlyIncome_missing                 150000 non-null  int32
dtypes: float64(4), int32(1), int64(7)
memory usage: 14.3 MB

In [18]:
df.isnull().sum()

SeriousDlqin2yrs                           0
RevolvingUtilizationOfUnsecuredLines       0
age                                        0
NumberOfTime30-59DaysPastDueNotWorse       0
DebtRatio                                  0
MonthlyIncome                              0
NumberOfOpenCreditLinesAndLoans            0
NumberOfTimes90DaysLate                    0
NumberRealEstateLoansOrLines               0
NumberOfTime60-89DaysPastDueNotWorse       0
NumberOfDependents                      3924
MonthlyIncome_missing                      0
dtype: int64

In [19]:
## 1. Missing Flag
df['Dependents_missing'] = df['NumberOfDependents'].isnull().astype(int)
# Fill using mode
df['NumberOfDependents'] = df['NumberOfDependents'].fillna(df['NumberOfDependents'].mode()[0])

In [20]:
df.isnull().sum()

SeriousDlqin2yrs                        0
RevolvingUtilizationOfUnsecuredLines    0
age                                     0
NumberOfTime30-59DaysPastDueNotWorse    0
DebtRatio                               0
MonthlyIncome                           0
NumberOfOpenCreditLinesAndLoans         0
NumberOfTimes90DaysLate                 0
NumberRealEstateLoansOrLines            0
NumberOfTime60-89DaysPastDueNotWorse    0
NumberOfDependents                      0
MonthlyIncome_missing                   0
Dependents_missing                      0
dtype: int64

In [21]:
df.head()

,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents,MonthlyIncome_missing,Dependents_missing
1,1,0.766127,45,2,0.802982,9120.0,13,0,6,0,2.0,0,0
2,0,0.957151,40,0,0.121876,2600.0,4,0,0,0,1.0,0,0
3,0,0.658180,38,1,0.085113,3042.0,2,1,0,0,0.0,0,0
4,0,0.233810,30,0,0.036050,3300.0,5,0,0,0,0.0,0,0
5,0,0.907239,49,1,0.024926,63588.0,7,0,1,0,0.0,0,0

In [22]:
## Check distribution of RevolvingUtilizationOfUnsecuredLines for any outliers value should be between 0 to 1
df['RevolvingUtilizationOfUnsecuredLines'].describe()

count    150000.000000
mean          6.048438
std         249.755371
min           0.000000
25%           0.029867
50%           0.154181
75%           0.559046
max       50708.000000
Name: RevolvingUtilizationOfUnsecuredLines, dtype: float64

In [23]:
df['RevolvingUtilizationOfUnsecuredLines'] = df['RevolvingUtilizationOfUnsecuredLines'].clip(0, 1)

In [32]:
df['High_Delinquency_Flag'] = (
    (df['NumberOfTime30-59DaysPastDueNotWorse'] > 10) |
    (df['NumberOfTime60-89DaysPastDueNotWorse'] > 10) |
    (df['NumberOfTimes90DaysLate'] > 10)
).astype(int)

In [33]:
df['NumberOfTime30-59DaysPastDueNotWorse'].describe()

count    150000.000000
mean          0.263233
std           0.809436
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max          10.000000
Name: NumberOfTime30-59DaysPastDueNotWorse, dtype: float64

In [34]:
# Max value 98 and other such data like 50, 45 doesn't seem realistic, it is not possible to be late 98 times in 2 years
df['NumberOfTime30-59DaysPastDueNotWorse'] = df['NumberOfTime30-59DaysPastDueNotWorse'].clip(0,10)

In [35]:
df['NumberOfTime30-59DaysPastDueNotWorse'].describe()

count    150000.000000
mean          0.263233
std           0.809436
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max          10.000000
Name: NumberOfTime30-59DaysPastDueNotWorse, dtype: float64

In [36]:
df['NumberOfTime60-89DaysPastDueNotWorse'].describe()

count    150000.000000
mean          0.082633
std           0.534148
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max          10.000000
Name: NumberOfTime60-89DaysPastDueNotWorse, dtype: float64

In [37]:
df['NumberOfTime60-89DaysPastDueNotWorse'] = df['NumberOfTime60-89DaysPastDueNotWorse'].clip(0,10)

In [38]:
df['NumberOfTimes90DaysLate'].describe()

count    150000.000000
mean          0.107920
std           0.635481
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max          10.000000
Name: NumberOfTimes90DaysLate, dtype: float64

In [39]:
df['NumberOfTimes90DaysLate'] = df['NumberOfTimes90DaysLate'].clip(0,10)

In [40]:
df['NumberOfTime60-89DaysPastDueNotWorse'].describe()
df['NumberOfTimes90DaysLate'].describe()

count    150000.000000
mean          0.107920
std           0.635481
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max          10.000000
Name: NumberOfTimes90DaysLate, dtype: float64

In [41]:
df['DebtRatio'].describe()

count    150000.000000
mean        353.005076
std        2037.818523
min           0.000000
25%           0.175074
50%           0.366508
75%           0.868254
max      329664.000000
Name: DebtRatio, dtype: float64

In [42]:
## The debt ratio of 329664 and mean value 353 is is unrealistic

In [47]:
## Add the outlier flag
df['DebtRatio_high_flag'] = (df['DebtRatio'] >= cap).astype(int)

In [48]:
cap = df['DebtRatio'].quantile(0.99)
cap

4979.000400000001

In [49]:
df['DebtRatio'] = df['DebtRatio'].clip(0, cap)

In [50]:
df['DebtRatio'].describe()

count    150000.000000
mean        316.548473
std         906.960186
min           0.000000
25%           0.175074
50%           0.366508
75%           0.868254
max        4979.000400
Name: DebtRatio, dtype: float64